.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    align-items: flex-start;
    gap: 12px;

}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    padding-left: 5px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

    padding: 5px 24px;
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
}
.button:hover {
    cursor: pointer;
}

.button:focus {
    border: 0;
    opacity: 1;

}

.button:active {
    border: 0;
    opacity: 1;
}

.button:disabled {
}

.text {
    padding-bottom: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.5);

}

.greeting  {
    padding-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}
